@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');

mat-toolbar{
    background: #FFE0E0
}
.content{
    margin-left: 10px;
    margin-right: 10px;
    padding: 16px;
}
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .titre{
    font-family: 'Syne Tactile', cursive;
    font-size: 50px;
  }

